<h1>Please remind me to take a break every <%= @number_of_minutes%> minutes.</h1>

<%= link_to 'Word Vomit', '/supercalifragilisticexpialidocious' %>

<a href="/supercalifragilisticexpialidocious">Word Vomit 2</a>

<h3>Back to Home Pls</h3>
<%= link_to 'Home', '/' %>